/* Centralização e cor de fundo */



body {
  background-color: #ffe4ec; /* (valor 0.5) cor de fundo suave e romântica */
  display: flex;
  justify-content: center; /* (valor 0.5) centralização horizontal */
  align-items: center;     /* centralização vertical */
  height: 100vh;
  margin: 0;
  font-family: cursive;
}

/* Centraliza tudo na vertical */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Texto romântico sobre o canvas */
.titulo {
 
  color: #d81b60;
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #fff;}


canvas {
  border: 2px solid #e91e63;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(233, 30, 99, 0.3);
}
